// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 70px;
    width: 100%;
    display: table;
    font-weight: 100;
}

.title {
    font-size: 96px;
    font-family: 'Lato', sans-serif;
}

.members {
    .member {
        margin-bottom: 10px;
        background-color: #D8D8D8;

        .picture {
            background-color: #C4C4C4;
            padding: 10px;
        }

        .detail {
            padding: 10px;
            overflow: auto;
            font-size: 1.2em;
            font-weight: bold;

            .name {
                text-align: left;
                color: #333;
            }

            .budget {
                text-align: right;
            }

            .possitive {
                color: green;
            }

            .negative {
                color: red;
            }
        }
    }
    .me {
        background-color: #FFF670;
    }

    .selectable {
        cursor: pointer;
    }

    .selected {
        background-color: #98EF95;
        .picture {
            background-color: #90E487;
        }
    }
}

.member-menu {

    .picture {
        background-color: #C4C4C4;
        padding: 15px;
    }
    ul {
        padding: 0;
        list-style: none;

        li {
            background-color: #D8D8D8;
            padding: 15px;
            text-align: left;
            &.name {
                font-weight: bold;
                font-size: 1.2em;
                padding-bottom: 25px;
            }
        }

        a {
            color: #333;
            &:hover {
                text-decoration: none;
                li {
                    background-color: #E8E8E8;
                }
            }
        }
    }
}

.transaction-table {
    .positive {
        color: green;
    }
    .negative {
        color: red;
    }
    .sum-row {
        font-weight: bold;
    }
}
